body{
  background-color:black
  font-size:11px;
  color:white;
}
h1{
  font-size:16px;
  font-color:white;
  font-weight:bold;
}
h1 a{
  font-size:16px;
  font-color:white;
  font-weight:bold;
}

h2{
  font-size:14px;
  font-color:white;
  font-weight:bold;
}
h2 a{
  font-size:14px;
  font-color:white;
  font-weight:bold;
}

h3{
  font-size:12px;
  font-color:white;
  font-weight:bold;
}
h3 a{
  font-size:14px;
  font-color:white;
  font-weight:bold;
}

a{
  font-size:14px;
  font-weight:bold;
  color:white;
}
a:link{
  font-size:14px;
  font-weight:bold;
  color:white;
}

.mail_title{
  color:grey;
  font-size:12px;
}

.mini_message{
  color:pink;
  font-size:12px;
}

.mini_message_red{
  color:pink;
  font-size:12px;
}

.warning01{
  color:red;
  font-size:14px;
}

a.warning01{
  color:red;
  font-size:14px;
  font-weight:bold;
}

.treasure {
  background-color:black;
  border-style: dotted;
  border-color: #333333;
  border-width: 4px;
}

.quest_detail {
  background-color:#CCCCCC;
  color:black;
  border-style: dotted;
  border-color: #333333;
  border-width: 2px;
  font-size:12px;
}

.quest_detail_comment {
  color:black;
  background-color:#CCCCCC;
  border-style: dotted;
  border-color: #333333;
  border-width: 2px;
  font-size:12px;
}

.profile {
  background-color:#CCCCCC;
  color:black;
  border-style: dotted;
  border-color: #333333;
  border-width: 2px;
  font-size:12px;
}

.message {
  background-color: #333333;
  border-style: dotted;
  border-color: #999999;
  border-width: 4px;
}

#headerbg {
  background-color:black;
  width:100%;
  min-width:320px;
}
#header {
  background-color:black;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}
#menubg {
  width:100%;
  background-color:black;
  min-width:320px;
}
#menu {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  background-color:black;
}
#greenmenubg {
  background-color:black;
  width:100%;
  min-width:320px;
}
#greenmenu {
  background-color:black;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}
#bodybg {
  background-color:black;
  width:100%;
  min-width:320px;
}
#body {
  background-color:black;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}
#footerbg {
  background-color:black;
  width:100%;
  min-width:320px;
}
#footer {
  background-color:black;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}
hr {
height: 1px;
border: none;
border-top: 1px #CCCCCC dotted;
}

ul.pager {
    list-style:none;
    font-size: 15px;
      margin: 0px;
}
ul.pager li {
   list-style:none;
      float: left;
      margin-right: 5px;
      border: 1px #666666 solid;
      font-weight: bold;
}
ul.pager li.prev,
ul.pager li.next {
    list-style:none;
      border: none;
}
ul.pager li a {
    list-style:none;
      position: relative;
      display: block;
      padding: 3px 8px;
      color: #666666;
}
ul.pager li a:link,
ul.pager li a:visited {
    list-style:none;
      text-decoration: none;
}
ul.pager li a:hover,
ul.pager li a:active {
    list-style:none;
      background-color: #CCCCCC;
      text-decoration: none;
}
ul.pager li em {
    list-style:none;
      display: block;
      padding: 3px 8px;
      background: #666666;
      color: #FFFFFF;
}
